body{
  margin: 0;
  text-align: center;
font-family: 'Merriweather',serif;
background-color: #F7E2E2;
color: #40514E;
}
h1{
  color: #064663;
  font-size: 562.5%;
  margin: 40px auto 0 auto;
  font-family: 'Sacramento',cursive;
}
h2{  font-family: 'Sacramento',cursive;
  color: #064663;
font-weight: normal;
  font-size: 3.5rem;
  margin: 0 auto 0 auto;
  padding-bottom: 10px;


}
.intro{
width: 30%;
margin: auto;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.gp{
  text-align: center;
  padding-bottom: 90px;

}
h3{
  color: #064663;

  font-family: 'Montserrat',sans-serif;
}
.top_container{

 font-family: cursive, fantasy ,sans-serif;
  background-color: #DEB6AB;
  position: relative;
  padding-top: 100px;
}

.middle-container{

margin: 100px 0;
}
.bottom-container{
  background-color: #DEB6AB;

}
.bottom_cloud{
  position: absolute;
  left: 200px;
  bottom: 300px;
}
.top_cloud{
  position: absolute;
  right: 300px;
  top: 40px
}
.clouddy{
  width:51%;
  margin: 50px auto 0 auto;

  position: relative;
   top: 0;
   left: 0;
}

.mypic{
width: 100px;
  border-radius: 100%;

}
.dina{
  width: 300px;
  border-radius: 100%;
  height: 500px;
}

a{
  color: #C65D7B;
  font-family: 'Raleway', sans-serif;

}
.ac{
  color: #DEB6AB;
}
p{
  line-height: 2;

}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.pic1{
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 100%;
  /* margin-top: 30px; */


}
.between{
  font-size: 80%;
}
.pic2{
  width: 25%;
  float: right;
  margin-right: 30px;
  border-radius: 50%;
  margin-top: 30px;
}
.pic4{
  margin-bottom: 100px;
    margin-top: 40px;
}
.pic3{
  padding-left: 15px;
  width: 50%;
  float: right;

  margin-right: 30px;
  /* border-radius: 50%; */

}

.contact-message{
  width: 40%;
  margin: 40px auto 90px;
  line-height: 2;
}

.footer-link:hover {
    opacity: 0.7;

}
.vedio{
  /* margin-left: 90px; */
  /* margin-top: 20px; */
  margin-bottom: 50px;
}
.footer-link{
 font-size: 30px;
 width: 40px;
 text-align: center;
 text-decoration: none;
margin: 10px ;
padding-top: 15px;
}
.copyright{
  font-size: 0.75rem;
  color: #eaf6f6;
  padding-bottom: 20px;
}
.fb{
  }
  .tw{
  }
  .li{
}
 .btn {

  background: #087bc7;
  background-image: -webkit-linear-gradient(top, #087bc7, #4ca6de);
  background-image: -moz-linear-gradient(top, #087bc7, #4ca6de);
  background-image: -ms-linear-gradient(top, #087bc7, #4ca6de);
  background-image: -o-linear-gradient(top, #087bc7, #4ca6de);
  background-image: linear-gradient(to bottom, #087bc7, #4ca6de);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat',sans-serif;

  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #57b9f2;
  background-image: -webkit-linear-gradient(top, #57b9f2, #0b6099);
  background-image: -moz-linear-gradient(top, #57b9f2, #0b6099);
  background-image: -ms-linear-gradient(top, #57b9f2, #0b6099);
  background-image: -o-linear-gradient(top, #57b9f2, #0b6099);
  background-image: linear-gradient(to bottom, #57b9f2, #0b6099);
  text-decoration: none;
}
